spring:
  datasource:
    url: jdbc:h2:mem:cinemadb
    driver-class-name: org.h2.Driver
    username: sa # sys admin
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    cache: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.hibernate.SQL: DEBUG
    pl.gdansk.cinema.cinema_booking: DEBUG
