<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-0 shadow sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">Cinema Booking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/">Repertuar</a></li>
                <li class="nav-item"><a class="nav-link" href="/filmy-lista">Filmy</a></li>
            </ul>
            <div class="navbar-nav ms-auto">
                <div sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown">
                        Panel Admina
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/filmy">Zarządzaj filmami</a></li>
                        <li><a class="dropdown-item" href="/admin/seanse">Zarządzaj seansami</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/swagger-ui.html">API Docs</a></li>
                    </ul>
                </div>
                
                <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <span sec:authentication="name">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item">Wyloguj</button>
                            </form>
                        </li>
                    </ul>
                </div>
                
                <a sec:authorize="!isAuthenticated()" class="btn btn-outline-light btn-sm ms-2" href="/login">Zaloguj</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
